.container {
    display: flex;
    height: 100vh;
}
.sidebar{
    width: 250px;
    background-color: #ffc619;
    color: white;
    padding: 65px;
    box-sizing: border-box;
}
.sidebar .logo{
    font-size: 24px;
    margin-bottom: 20px;

}
.sidebar nav ul{
    list-style-type:none;
    padding: 0;

}
.sidebar nav ul li{
    margin: 15px 0;
}
.sidebar nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
}
.sidebar nav ul li a:hover{
    background-color: #34495e;
    padding-left: 10px;
}
